/* myPlaylistStyles.css */
.filter-year, .filter-genre{
  text-align: center;
}
.filter-title, .filter-genre{
  font-size: 20px;
  font-weight: bold;
  color: #44a6cd;
}
.filter-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #87CEEB;
  padding: 10px;
  border-radius: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.filter-button.selected,
.year-button:hover,
.filter-button:hover {
    background-color: #87CEEB;
    color: #fff;
}

.year-button:hover , .filter-button:hover{
  background-color: #87CEEB;
  color: #fff;
}

.filter-result-button{
  background-color: rgb(94, 94, 94);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.filter-category, .filter-subcategory{
  text-align: center;
  margin: 0 auto;
}
.food-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#videoIframe {
  box-sizing: border-box;
}
.subcategory-recipe{ /*음식 명-레시피*/
  text-align: center;
  margin-top: 35px;
  font-size: 22px; font-weight: bold;
  color: rgb(45, 98, 163);
}
.food-material{ 
  text-align: center;
}
.food-materials{ 
  text-align: center;
  border: 1px solid #44a6cd;
  border-radius: 10px;
  padding: 10px; 
  display: inline-block;
  margin: 5px;
}